@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Light.woff2') format('woff2'),
        url('CormorantUpright-Light.woff') format('woff'),
        url('CormorantUpright-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Bold.woff2') format('woff2'),
        url('CormorantUpright-Bold.woff') format('woff'),
        url('CormorantUpright-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Medium.woff2') format('woff2'),
        url('CormorantUpright-Medium.woff') format('woff'),
        url('CormorantUpright-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Regular.woff2') format('woff2'),
        url('CormorantUpright-Regular.woff') format('woff'),
        url('CormorantUpright-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-SemiBold.woff2') format('woff2'),
        url('CormorantUpright-SemiBold.woff') format('woff'),
        url('CormorantUpright-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

