@import url(../fonts/Montserrat_font/stylesheet.css);
@import url(../fonts/cormorant-font/stylesheet.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat' !important;
    font-weight: bold;
}
h2{
    font-size: 60px !important;
    font-weight: 700 !important;
    line-height: 53px !important;
    letter-spacing: 0.11em !important;
    font-family: 'Montserrat' ;
    color: #000;
    

}
h2 span{
    font-size: 50px;
    font-weight: 800;
    line-height: 83.5px;  
    color: #000;
    font-family: 'Montserrat';
    
    }
    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 34px;
        font-family: 'Montserrat';
    }

a {
    text-decoration: none;
    font-family: 'Montserrat';

}

ul {
    padding: 0;
    list-style: none;
}

.py {
    padding: 60px 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;

}
/* header vss start from here */

.inner-conter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-conter-header ul li {
    display: inline-block;
}

.inner-conter-header ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 19px;
    display: block;
}
section.faq-main .container {
    background-color: #27272B;
    border-radius: 30px;
    padding: 60px 80px;
}
ul li a.Contact-button {
    display: block;
    background: #FF4D00;
    padding: 8px !important;
    border-radius: 50px;
    height: 41px;
    width: 144px;
    text-align: center;
}
.header-box {
    padding: 40px 0;
}
/* header vss end from hewre */
/* banner section css start from here */
.banner-box-content {
    display: flex;
}

.black-box-conttent {
    flex: 0 0 40%;
    max-width: 40%;
    background-color: #000;
    color: #fff;
}

.slider-box-banner {
    flex: 0 0 60%;
    max-width: 60%;
}

.slider-image-txt {
    height: 918px;
    width: 100%;
    object-fit: cover;
}

.slider-image-txt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider-home {
    width: 100%;
}
.txt-bnner {
    position: absolute;
    bottom: 29%;
    left: 23%;
}

.slider-image-txt {
    position: relative;
}
section.banner-sec .container12 {
    position: absolute;
    top: 20%;
    left: 32%;
}
.txt-bnner h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 53px;
    color: #fff;
}

.txt-bnner h2 span {
    font-size: 160px;
    font-weight: 400;
    line-height: 193.76px;
    color: #fff;
    font-family: 'Cormorant Upright';
}
a.Contact-button2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    color: #fff;
    background-color: #ff4d00;
    padding: 8px 4px 9px 4px;
    max-width: 186px;
    display: block;
    border-radius: 50px;
    height: 41px;
    text-align: center;
    text-transform: capitalize;
}
.call-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 85px 0;
}

.main-image-icon1 a {
    display: block;
    background-color: #ff4d00;
    padding: 4px 6px;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #ff4d00;
}

.main-image-icon a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #fff;
}
section.banner-sec {
    position: relative;
}

section.header-main-sec {
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    
}
.main-slider-home .slider-image-txt {
    position: relative;
}
.main-slider-home .slick-dots {
        bottom: 19px;
        text-align: left;
        padding: 0 10px;
}
.main-slider-home .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ff4d00;
}
.main-slider-home .slick-dots li button:before {
    font-size: 50px;
    color: white;
    opacity: 1.25;
}
.slider-box-banner .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.image-overlay {
    width: 368px;
    height: 621px;
    border-radius: 50px;
    overflow: hidden;
}

.image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-box h2 {
    color: #fff;
    transform: rotate(-90deg);
    position: absolute;
    left: -49px;
    padding: 71px 2px;
    font-size: 20px !important;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
}

.content-box {position: relative;}

.main-rotait {
    margin: 26% 0 0 38%;
}

.baner-button {
    padding: 212px 0 0 0;
}

.content-box {
    padding: 12px 0px 0 2px;
}

.insta-image {
    width: 20px;
    height: 20px;
    margin-bottom: 24px;
}

.insta-image img {
    object-fit: cover;
}
.content-box {position: relative;}
/* banner section css end from here */
/* who we are section css start from here */
section.how-we-are.py {
    background-color: #000;
    color: #fff;
}

.main-box-who {
    display: flex;
}

.we-are-txt {
    flex: 0 0 44%;
    max-width: 44%;
}

.we-are-img {
    flex: 0 0 55%;
    max-width: 55%;
}

.heading-we h2 {
    color: #fff;
    position: absolute;
    top: 196px;
    transform: rotate(-90deg);
    left: -45%;
}

.heading-we {
    position: relative;
}

.main-super-home {
    display: flex;
}

.image-home-box {
    width: 256px;
    height: 513px;
    border-radius: 30px;
    margin: 0 10px;
    overflow: hidden;
}

.image-home-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.we-are-txt p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 40px;
    padding: 0 18px 0 71px;
}
.slider-image-txt:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 34%);
    position: absolute;
}

.slider-image-txt {
    position: relative;
}

/* who we are section css end from here */
/* footer css start from here */
footer {
    background: #000;
    padding: 42px 0 0;
}

.sub-content {
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: space-between;
}

.sub-heading-9 h2 {
    font-size: 50px;
    color: #FFF;
    MARGIN: 0;
}
.cutomer-rewiecs-txt h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    line-height: 34px;
    text-align: left;
    color: #000;
}
.enail-content23 input.wpcf7-form-control.wpcf7-email.wpcf7-validates-as-required.wpcf7-text.wpcf7-validates-as-email {
    background: #fff !important;
    width: 100% !important;
    border: navajowhite !important;
    padding: 13px 65px 13px 30px !important;
    border-radius: 50px !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 28.39px !important;
    text-align: left !important;
}
.foem-button p input.slae-button {
    background-color: #000 !important;
    padding: 8px 41px !important;
    display: block !important;
    border-radius: 50px !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content !important;
    height: fit-content !important;
    background: linear-gradient(90deg, #B1976B 0%, #FDA179 100%);
    margin-left: 29px;
}
.sub12-content form.wpcf7-form.init {
    
    display: flex !important;
}
.enail-content23 input {
    background: #fff;
    width: 100%;
    border: navajowhite;
    padding: 13px 65px 13px 30px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.39px;
    text-align: left;
}
.sub12-heading-9 h2 span {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}



section.home_subcribe {
    margin: 60px 0 0 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.txt-footer h3 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.txt-footer p {
    max-width: 340px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 0 0;
}
.txt-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
}

.txt-footer ul li a {
    text-decoration: none !important;
    color: #fff;
    font-size: 18px;
    padding: 8px 0px;
    display: block;
}

.txt-footer ul li {
    padding-bottom: 10px;
}
.top-footer a, .bootom-footer a, .txt-footer a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
}
.footer-image ul {
    display: flex;
    gap: 20px;
}
.bootom-footer {
    padding: 40px 0 0;
}
.right-bottom-footer {
    padding: 50px 0 0 0;
}
.main-copy-right {
    border-top: 1px solid #1b21219e;
    padding: 20px 0;
}

.copyright-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-copy-right a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff94;
    font-weight: 400;
}

.footer-arrow-images a {
    display: flex;
    height: 60px;
    width: 60px;
    background: #ff4c00;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    outline: #ffad89 solid 10px;
}
.sub12-content {
   /* max-width: 1140px;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub12-heading-9 h2 {
    font-size: 42px !important;
    font-weight: 700 !important;
    line-height: 66.5px !important;
    width: 823px;
    color: #fff !important;
}
section.sub-main {
    background-color: #ff4d00;
    padding: 40px 0;
}


.sub12-heading-9 p {
    max-width: 491px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27.5px;
    text-align: left;
    color: #fff;
}

.foem-button a {
    background-color: #000;
    padding: 18px 41px;
    display: block;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.right-bottom-footer a {
    margin-top: 10px;
}
/* footer css end from here */
/* choose sectionn css start from here */
.counting-se {
    display: flex;
    align-items: center;
}

.main-txt-choose1 h3 {
    color: #fff;
    padding: 4px 17px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    border-radius: 30px 0 0;
    background: #FDA179;
}
.main-txt-1234 img {
    height: 23px;
    width: 23px;
    object-fit: contain;
}
.main-txt-border1 {
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 3px dotted #fda179;
}
.main-txt-choose3 h3 {
    color: #fff;
    padding: 4px 17px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    border-radius: 30px 0 0;
    background:  #8FB38B;;
}

.main-txt-border3 {
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 3px dotted #8FB38B;
    
}
.main-txt-border2 {
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 3px dotted #A0B7F1;
    ;
}
.main-txt-choose2 h3 {
    color: #fff;
    padding: 4px 17px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    border-radius: 0 30px 0 0;
    background:  #A0B7F1;;
}
.main-txt-border4 {
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 3px dotted #F782D6;
    ;
}
.main-txt-choose4 h3 {
    color: #fff;
    padding: 4px 17px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    border-radius: 0 30px 0 0;
    background: #F782D6;
    ;;
}
.choose-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chose-box-nner {
    flex: 0 0 35%;
    max-width: 35%;
}
.background-sec-chooce {
    background-color: rgb(255 255 255 / 87%);
    /* padding: 26px; */
    border-radius: 30px;
    margin: 69px 0 15px  0;
    box-shadow: 0 0 5px #ededed;
}


.paragraph-sec h2 {
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 38px !important;
    padding: 10px 0;
}
.paragraph-sec {
    padding: 26px;
}
.paragraph-sec p {
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
}
section.choose-home-sec {
    /* height: 946px; */
    background-position: center;
    background-color: rgb(255 255 255 / 10%);
    background-blend-mode: color;
    position: relative;
    padding: 60px 0 103px 0;
}
.background-sec-chooce:hover {
    box-shadow: 0 0 10px #6f6c6c;
    transition: all .5s;
}
.heading-txt-12{
    display:none;
}
.chose-postion-box {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(18.12deg 100% 50% / 20%);
    border-radius: 50%;
    max-width: 430px;
    margin: 0 auto;
    height: 430px;
}
.choose-box {
    position: relative;
}
.headin-main h2 {
    text-transform: uppercase;
    line-height: 62px;
}
.headin-main h2 {max-width: 275px;text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.main-txt-choose h3 {background-color: #000;display: block;color: #fff;padding: 15px;width: fit-content;height: fit-content;border-radius: 20px 0 0 0;}
/* choose section css end from here */
/* services css start from here */
section.our.services {
    background: #27272B;
    position: relative;
    padding-bottom: 600px;
}
.main-services-box {
    display: flex;
}
.services-content {
    flex: 0 0 40%;
    max-width: 40%;
}
.services-content12 {
    flex: 0 0 60%;
    max-width: 60%;
}
.services-content {
    background-color: #000;
    padding: 97px 40px 0 40px;

}
.heading-txt-services h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
}
.main-content-services {
    width: 324px;
    height: 429px;
    border-radius: 30px;
}

.main-content-services img {
    width: 100%;
    height: 429px;
    object-fit: cover;
    border-radius: 30px;
}
section.our.services .slick-dots li button:before {
    font-size: 80px;
    color: #ffffff;
    opacity: 1.25;
}
section.our.services .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ff4d00;
}
.heading-txt-services p {
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    padding: 40px 0;
}
.heading-image-services 
{position: relative;
    height: 669px;
}

.heading-image-services img {
    width: 100%;
    height: 100%;
}

.services-slider {
    position: absolute;
    top: 18%;
    right: 35px;
    display: flex;
    gap: 48px;
}
section.our.services .slick-dotted.slick-slider {
    position: absolute;
    right: 53px;
    width: 56%;
    height: 36%;
    top: 12%;
    transform: translate(1%, -10%);
}
section.our.services .slick-initialized .slick-slide {
    margin: 0 20px;
}
.main-content-services h3 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding-top: 26px;
}
/* services css end from here */
/* form css start from here */
.form-cintact {
    position: relative;
}

.form-cintact {
    display: flex;
}

.main-content-form {
    flex: 0 0 70%;
    max-width: 100%;
}

.main-back-form {
    flex: 0 0 30%;
    max-width: 30%;
    background-color: #ff4d00;
    padding: 40px 20px;
    border-radius: 0 30px 30px 0;
}
.form-box h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
}

.form-box p {
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    padding: 9px 0 30px 0;
}

.main-content-form {
    background-color: #fff;
    padding: 51px 20px 40px 20px;
    border-radius: 30px 0  0 30px;
}
.main-field, .main-innefield, .form-message, .senter-field {
    margin-bottom: 50px;
}
.senter-field {
    margin-bottom: 50px !important;
}
.right-bottom-footer p a {
    color: #fff;
    text-decoration: none;
}

.right-bottom-footer p a:hover {
    color: #ff4d00;
    transition: all .7s;
}
.main-field {
    display: flex;
    width: 100%;
    gap: 40px;
}

.main-innefield, .form-message, .senter-field {
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 2px solid #000;
}

.main-innefield input, .form-message input {
    width: 100%;
    display: block;
    border: unset!important;
}
.form-message p span.wpcf7-form-control-wrap textarea {
    border: unset!important;
    height: 50px;
}
.main-content-form .form-buttone-one input.wpcf7-form-control.wpcf7-submit.has-spinner.Contact-button2 {
    font-size: 15px!important;
    font-weight: 600!important;
    line-height: 23px;
    color: #fff;
    background-color: #ff4d00!important;
    padding: 8px 4px 9px 4px!important;
    max-width: 186px!important;
    display: block!important;
    border-radius: 50px!important;
    height: 41px!important;
    text-align: center!important;
    text-transform: capitalize!important;
}
.main-innefield input::placeholder, .form-message input::placeholder, input::placeholder {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
}


.main-content-form input {
    border: unset !important;
    width: 100% !important;
    padding-bottom: 15px !important;
}

.icon-box-services {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 72px;
}

.main-box-icon a {
    background-color: #27272b;
    height: fit-content;
    border-radius: 50px;
    width: 49px;
    display: block;
    height: 49px;
    text-align: center;
    padding: 11px 0 9px 0;
}

.main-box-content a {
    font-size: 18PX;
    font-weight: 700;
    line-height: 24.38px;
    color: #fff;
}

a {}

.main-box-icon img {
    width: 25px;
    height: 27px;
    object-fit: none;
}

.follow-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 93px;
}
.form-buttone-one {
    padding-top: 50px;
}
.main-txt-1234 a {
    display: inline-block;
    padding: 0 8px;
}

.main-txt-1234 h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: #fff;
}
/* form css end from here */
/* faq-section css start from  here */
.accordion_head {
    color: white;
    margin: 0px 0 4px 0;
    padding: 30px 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.82px;
    text-align: left;
    cursor: pointer;
    border-bottom: 2px dotted #fff0f06b;
}

.accordion_body p {
    padding: 18px 5px;
    margin: 0px;
    color: #fff;
}
.plusminus {
    float:right;
}

.main-faq-content {
    display: flex;
}

.faq-box {
    flex: 0 0 50%;
    max-width: 50%;
}

.faq-image-box {
    flex: 0 0 44%;
    max-width: 44%;
    margin-left: 57px;
}

.faq-image-inner {
    max-width: 508px;
    height: 339px;
    border-radius: 30px;
}

.faq-image-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.faq-heading h2 {
    color: #fff;
    padding: 15px 0;
    text-transform: uppercase;
}

.faq-button {
    padding-top: 52px;
}

.faq-button a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
/* faq section css end from here */
/* instagram css start from here */
.instagram-page-box {
    display: flex;
    gap: 10px;
}

.inner-instagram {
    width: 100%;
    height: 534px;
    overflow: hidden;
}

.inner-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heading-instagram {
    padding-bottom: 30px;
    text-align: center;
}
/* instagram css end from here */
/* after before section css start from here */
.after-box {
    display: flex;
    justify-content: space-between;
}

.before-box {
    width: 100%;
    height: 767px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
.hamburger {
    display: none;
}
.before-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.txt-box-after {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -45%);
}

.txt-box-after h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    color: #fff;
    background-color: #ff4d00;
    padding: 10px 25px;
    text-align: center;
}
/* sfter before section css end from here */
/* testimonials section start from here */
.testimonials-box {
    display: flex;
    justify-content: space-between;
}

.inner-testimonials {
    flex: 0 0 48%;
    max-width: 48%;
}

section.testimonials-sec {
    background: #FFEAE1;
    position: relative;
    padding-top: 370px;
}

.inner-testimonials p {
    padding: 20px 0;
}
.main-top-form.py {
    position: absolute;
    bottom: -353px;
    z-index: 9;
    width: 84%;
}
.main-customer {
    background-color: #fff;
    padding: 36px 10px;
    border-radius: 30px;
    flex: 0 0 46%;
    max-width: 46%;
    box-shadow: 0 0 10px #d9d9d9;
}
.cutomer-rewiecs-image {
    width: 60px;
    height: 60px;
}

.cutomer-rewiecs-image img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.cutomer-image {
    display: flex;
}

.main-content-cutomer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cutomer-image p {
    padding: 0;
}
.reviews-content-cutomer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-customer:nth-child(even) {
    margin-top: 50px;
}
.inner-box-main .main-customer:nth-child(even) {
    margin-top: 0px;
}

.inner-box-main .main-customer:nth-child(odd) {
    margin-top: 95px;
}
.main-customer:hover {
    box-shadow: 0 0 10px #ababab;
}
ul li a.Contact-button:hover, .testimonials-button a.Contact-button2:hover  {
    background-color: #000;
    transition: all .8s;

    
}
 a.Contact-button2:hover {
    background-color: #fff;
    color: #000;
    transition: all .8s;
}
ul.menu_navbar_set  li a:hover {
    color: #ff4d00;
    transition: all .8s;
}
.backToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: none;
    color: #cccccc;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  .backToTopBtn.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .backToTopBtn:not(.active) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .icon-box-services a:hover {
    color: #000;
    transition: all .8s;
}
.main-box-icon a:hover {
    background-color: #ff4d00;
    border: 2px solid #000;
}
replace

ul li a.Contact-button:hover, .testimonials-button a.Contact-button2:hover {
    background-color: #000;
    transition: all .8s;
    color: #fff;
}
section.header-main-sec.sticky {
    position: fixed;
    background-color: #000000;
}
section.header-main-sec.sticky ul#menu-top-menu li a:hover {
    color: #ff4d00 !important;
    transition: all .7s;
}
section.header-main-sec.sticky ul li a:hover {
    color: #000;
}

section.header-main-sec.sticky ul li a.Contact-button {
    background-color: #fff;
    color: #000;
}

section.header-main-sec.sticky ul li a.Contact-button:hover {
    background-color: #000;
    color: #fff;
}
section.header-main-sec.sticky .header-box {
    padding: 20px 0;
}
/* testimonials section css end from here */




  .main-content-form input:focus-visible {
    outline: 0;
}
.txt-footer ul li a:hover, .left-copy-right a:hover, .top-footer a:hover, .bootom-footer a:hover, .txt-footer a:hover {
    color: #ff4d00;
    transition: all .8s;
}
.main-image-icon1 a:hover{
    background-color: #000;
    border: 2px solid #fff;
    transition: all .8s;
}
.main-image-icon a:hover {
    color: #ff4d00;
    transition: all .8s;
}
.foem-button a:hover {
    background-color: #fff;
    color: #000;
    transition: all .8s;
}
.before-box img:hover {
    transform: scale(1.1);
    transition: all .8s;
}

.inner-instagram img:hover {
    transform: scale(1.2);
    transition: all .8s;
}

.image-home-box img:hover {
    transform: scaleX(1.5);
    transition: all .6s;
}
.accordion_head:hover {
    color: #ff4d00;
    transition: all .6s;
}
section.our.services.py .slick-dots {
    position: absolute;
    bottom: -85px;

}
.who-button {
    margin-left: 11%;
}
.form-message textarea::placeholder {
    color: #000 !important;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    padding-left: 10px;
}
/* media css start from here */
@media (max-width:1600px){
    .main-rotait {
        margin: 26% 0 0 4%;
    }
    section.banner-sec .container12 {
        left: 22%;
    }
    .txt-bnner h2 {
        font-size: 45px;
        line-height: 22px;
    }
    .txt-bnner h2 span {
        font-size: 93px;
        line-height: 146.76px;
    }
    .txt-bnner {
        left: 35%;
    }
    .form-message p span.wpcf7-form-control-wrap textarea {
        border: unset!important;
        height: 54px;
    }
    .senter-field {
        margin-bottom: 46px !important;
    }
    .main-field, .main-innefield, .form-message, .senter-field {
        margin-bottom: 27px;
    }
    .follow-more {
        padding-top: 23px;
    }
    .form-cintact {
        justify-content: center
    }
   
}
@media (max-width:1400px){
    .main-top-form.py {
        right: 0;
    }
  
}
@media (max-width:1199px){
    .header-box {
        padding: 16px 0;
    }
    .main-top-form.py {
        right: unset;
    }
    .main-top-form.py {
        width: 100%;
    }
    .insta-image {
        margin-bottom: 8px;
    }
    .baner-button {
        padding: 107px 0 0 0;
    }
    .call-icon {
        padding: 13px 0 0 0;
    }
    .content-box h2 {
        padding: 38px 2px;
    }
    .main-rotait {
        margin: 18% 7%;
    }
    section.banner-sec .container12 {
        left: 22%;
    }
    .txt-bnner h2 {
        font-size: 39px;
        line-height: 55px;
    }
    .txt-bnner h2 span {
        font-size: 65px;
        line-height: 40px;
    }
    .txt-bnner {
        left: 38%;
    }
    .inner-conter-header ul li a {
        padding: 10px 14px;
    }
    .image-overlay {
        height: 436px;
    }
    .we-are-txt p {
        font-size: 14px;
        line-height: 27px;
        margin-bottom: 10px;
        padding: 0px 9px 0 87px;
    }
    .who-button {
        padding: 30px 0 0 0;
    }
    .sub12-heading-9 h2 {
        font-size: 27px;
    }

    section.our.services .slick-initialized .slick-slide {
        margin: 0 6px;
    }
    .main-content-services img {
        height: 371px;
    }
    .faq-image-box {
        margin-left: 10px;
    }
    .inner-instagram{
        height: auto;
    }
    .inner-testimonials p {
        padding: 3px 0;
        line-height: 29px;
        font-size: 14px;
    }
    .main-top-form {
        max-width: 96%;
        width: 100%;
    }
    .main-back-form {   
        padding: 40px 10px;
   
    }
    .main-box-content a {
        font-size: 14PX;
        font-weight: 700;
        line-height: 22.38px;
        color: #fff;
    }
}
@media (max-width:991px){
    .backToTopBtn {
        bottom: 60px;
        right: 14px;
    }
    .sub12-heading-9 h2 {
        width: unset;
        text-align: center;
    }
    .senter-field {
        margin-bottom: 3px !important;
    }
    .main-field, .main-innefield, .form-message, .senter-field {
        margin-bottom: 6px;
    }
    .follow-more {
        padding-top: 10px;
    }
    .main-back-form, .main-content-form {
        border-radius: 30px;
    }
    .main-content-form {
        padding: 30px 30px 30px 20px;
        margin: 0 0 20px 0;
    }
    .senter-field {
        margin-bottom: 15px !important;
    }
    .form-buttone-one {
        padding-top: 20px;
    }
  
    .social-icon {
        display: none;
    }
    
    .call-icon {
        display: none;
    }
    
    .content-box {
        display: none;
    }
    .social-icon {
        display: none !important;
    }
    .baner-button a.Contact-button2 {
        font-size: 17px;
        max-width: 100%;
        height: fit-content;
        padding: 9px;
    }
    .insta-image {
        width: 8px;
        height: 18px;
    }
    .hamburger {
        display: block;
        right: 14px;
        position: absolute;
        z-index: 999;
        top: 25px;
        margin-top: 0;
      }
      section.our.services .slick-dotted.slick-slider {
        height: auto;

    }
      .main-super-home {
        justify-content: center;
    }
      .accordion_head {
        padding: 19px 0;
        font-size: 17px;
    }
      .hamburger span.bar {
        width: 25px;
        height: 3px;

        margin: 5px 0;
        display: block;
      }
      .hamburger span.bar {
        background: #ffffff;
      }
      .hamburger.is-active {
        margin-top: 10px;
      }
      ul.menu_navbar_set.is-active {
        transform: translateX(0);
      }
     ul.menu_navbar_set {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        height: 100%;
        width: 250px;
        z-index: 9999;
        padding: 15px 0px 0;
        transform: translateX(-100%);
        transition: all ease 0.3s;
        opacity: 1 !important;
        visibility: visible !important;
        height: 100% !important;
      }
      .hamburger.is-active .bar:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
      }
      .hamburger.is-active .bar:nth-child(2) {
        transform: translateY(-7px) rotate(-43deg);
      }
      .hamburger.is-active span:last-child.bar {
        display: none;
      }
      .inner-conter-header ul li {
        display: block;
    }
    .inner-conter-header ul li a {
        color: #000;
        padding: 16px 11px;
        display: block;
    }
    ul li a.Contact-button {
        display: block;
        background: unset;
        padding: 8px !important;

        text-align: left;
    }
    .main-box-who, .form-cintact, .testimonials-box {
        flex-direction: column;
    }
    .we-are-txt, .we-are-img, .black-box-conttent, 
    .slider-box-banner, .main-content-form, .main-back-form, .inner-testimonials {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-customer:nth-child(even) {
        margin-top: 0;
    }
    .we-are-txt p {
        padding: 0;
    }
    .heading-we h2,  .heading-we {
        position: unset;
        transform: unset;
    }
    .who-button {
        padding: 3px 0 20px 0;
    }
    .we-are-txt p {
        padding: 8px 0 0 0;
    }
    h2, .heading-txt-services h2 {
        font-size: 34px !important;
        line-height: 40px !important;

    }
    .right-bottom-footer, .bootom-footer {
        padding: 0px 0 0 0;
    }
    footer {
        padding: 16px 0 0;
    }
    .heading-txt-services p {
        font-size: 13px;
        line-height: 25px;
        padding: 17px 0;
    }
    .banner-box-content {
        flex-direction: column-reverse;
    }
    section.banner-sec .container12 {
        position: relative;
        top: unset;
        left: unset;
    }
    .main-slider-home .slick-dots{
        text-align: center;
    }
    .main-rotait {
        margin: 0;
        padding: 18px;
    }
    .slider-image-txt{
        height: 350px !important;
    }
    .txt-bnner {
        left: unset;
        text-align: center;
        width: 100%;
    }
    .call-icon {
        justify-content: center;
    }
    .baner-button a {
        text-align: center;
        width: 100%;
        margin: 8px auto;
        display: block;
        padding: 8px;
    }
    .baner-button {
        padding: 0;
    }
    .content-box h2 {
        padding: 4px;
        font-size: 20px;
    }
    .content-box img {
        display: none;
    }
    .social-icon {
        display: flex;
        width: 100%;
        gap: 40px;
        margin: 0 auto;
        justify-content: center;
    }
    .image-overlay {
        height: 400px;
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .content-box {text-align: center;margin: 0 auto;width: 100%;}
    
    .content-box img {
        display: none;
    }
    .content-box h2 {
        transform: unset;
        position: relative;
        left: unset;
        text-align: center;
    }
    .call-icon {
        padding: 0;
    }
    .main-image-icon1 a {
        padding: 0px 2px;
    }
    .content-box {
        padding: 0;
    }
    a.Contact-button2 {
        font-size: 13px;
        max-width: 161px;
        height: 38px;
    }
    .py{
        padding: 30px 0;
    } 
    .footer-content,.sub12-content {
        flex-direction: column;
    }
    .txt-footer ul li {
        padding-bottom: 0;
    }
    .txt-footer h3 {
        margin: 20px 0 0 0;
    }
    .heading-instagram {
        padding-bottom: 15px;
    }
    .txt-footer ul li a, .top-footer a, .bootom-footer a, .txt-footer a{
        font-size: 16px;
    }
    .txt-footer p{
        padding: 0;
    }
    .footer-arrow-images a {
        height: 40px;
        width: 40px;
    }
    .enail-content23 {
        padding: 15px 0;
    }
    .enail-content23 input {
        padding: 10px 30px;
    }
    .sub12-heading-9 p {
        max-width: 100%;
        font-size: 18px;
        line-height: 29.5px;
        text-align: center;
        padding-top: 13px;
    }
    .chose-postion-box {
        max-width: 300px;
        height: 300px;
    }
    .paragraph-sec {
        padding: 5px 4px;
    }
    .paragraph-sec h2 {
        font-size: 16px !important;
        padding: 5px 0;
        line-height: 20px !important;
    }
    section.faq-main .container {
        padding: 20px;
    }
    .foem-button {
        margin-top: 20px;
    }
    .paragraph-sec p {
        font-size: 13px;
        line-height: 27px;
    }
    .inner-box-main .main-customer:nth-child(odd) {
        margin-top: 0;
    }
    .main-customer {
        margin-bottom: 20px;
    }
    .testimonials-button {
        padding: 6px 0 20px 0px;
    }
    .txt-footer ul li a {
        padding: 2px 0px;
    }
    .logo-image {
        width: 128px;
        height: 43px;
        object-fit: cover;
    }
    .hamburger {
        display: block;
    }
    .logo-image img {
        width: 100%;
        height: 100%;
    }
    .icon-box-services {
        margin-bottom: 20px;
    }
    .main-box-icon a {
        width: 40px;
        height: 40px;
        padding: 9px 0 9px 0;
    }
    .main-box-icon img {
        width: 20px;
        height: 21px;
    }
  
    .main-back-form {
        padding: 20px 10px;
    }
    .foem-button a {
        padding: 13px 41px;
    }
    .right-bottom-footer a {
        padding: 4px 0;
    }
    .left-copy-right {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:767px){
    .main-field, .main-innefield, .form-message, .senter-field {
        margin-bottom: 10px;
    }
    .senter-field {
        margin-bottom: 10px !important;
    }
    .main-field .main-innefield:last-child {
        margin-bottom: 0 !important;
    }
    .main-top-form.py {

        left: 7px;
    }
    .left-copy-right a {
        font-size: 17px;
    }
    .icon-box-services {
        margin-bottom: 15px;
    }
    .py {
        padding: 20px 0;
    }
    .sub12-heading-9 p {
        font-size: 14px;
        line-height: 22.5px;
    }
    .txt-box-after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-super-home, .main-services-box, .after-box {
        flex-direction: column;
    }
    .heading-image-services {
        height: 500px;
    }
    .image-home-box {
        width: 100%;
        height: 252px;
        margin: 6px 0;
    }

    .sub12-heading-9 h2 {
        font-size: 25px;
        text-align: center;
        line-height: 30px;
    }
    .faq-image-inner {
        height: auto;
    }
    .main-faq-content {
        flex-direction: column-reverse;
    }
    section.sub-main {
        padding: 19px 0;
    }
    .heading-txt-12{
        display:block;
    }
    .chose-postion-box {
        display: none;
    }
    .heading-txt-12 {
        text-align: center;
    }
    .faq-image-box, .services-content, .services-content12, .faq-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .chose-box-nner {
        flex: 0 0 48%;
        max-width: 48%;
    }
    .background-sec-chooce {
        margin: 20px 0 15px  0;
    }
    section.choose-home-sec {
        padding: 30px 0;
    }
    section.our.services .slick-dotted.slick-slider {
        right: 0;
        width: 100%;
        height: auto;
        top: 27%;
        transform: translate(0);
        left: 0;
    }
    .main-content-services img {
        height: 265px;
    }
    .faq-heading h2 {
        text-align: center;
        padding: 0;
    }
    .baner123-button {
        margin: 0 0 20px  0;
    }
    .faq-image-box {
        margin: 15px auto;
    }
    .before-box {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }
    .txt-box-after h3 {
        font-size: 23px;
        padding: 3px 19px;
        line-height: 35px;
    }
    .faq-button {
        padding-top: 20px;
    }
    .accordion_head {
        padding: 10px 0;
    }
}
@media (max-width:575px){
    .slider-image-txt, .image-overlay {
        height: 250px !important;
    }
    .main-customer {
        padding: 14px 10px;
 
    }
    .sub12-heading-9 h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .txt-bnner h2, .txt-bnner h2 span {
        font-size: 28px;
        line-height: 32px;
    }
    .who-button {
        margin-left: 0;
    }
    .image-overlay {
        padding: 10px;
    }
    h2 {
        font-size: 25px;
        line-height: 29px;
    }
    .main-txt-choose1 h3,  .main-txt-choose3 h3,  .main-txt-choose2 h3,  .main-txt-choose4 h3 {
        padding: 1px 11px;
        font-size: 21px;
        line-height: 49px;
    }
    .services-content {
        padding: 20px;
    }
    .main-box-content a {
        font-size: 16px;
    }
    .main-txt-1234 a {
        padding: 0px 6px;
    }
    .form-box h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .main-field {
        gap: 0px;
        flex-direction: column;
    }
    .main-customer{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-customer {
        margin-bottom: 15px;
    }
    .main-content-cutomer {
        margin-top: 15px;
    }
    .accordion_head {
        font-size: 16px;
    }
    .txt-bnner {
        top: 45%;
    }
}
@media (max-width:420px){
    section.our.services .slick-dotted.slick-slider {
        right: 18px;
        width: 100%;
        height: auto;
        top: 29%;
        transform: translate(-5%, -12%);
        left: 17px;
    }
    /* .heading-image-services {
        height: 400px;
    } */
    .accordion_head {
        font-size: 14px;
    }
    .main-box-content a {
        font-size: 13px;
    }
}

button:not(:hover):not(:active):not(.has-background) {
    background: unset!important;
}